
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hotel ASP</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem vindos ao Hotel ASP</h2>
</div>
    <div class="col-md-4">
        <h2>Gerenciar Reservas</h2>
        <p>Clique aqui para Fazer uma nova reserva ou alterar/cancelar uma reserva existente</p>
        <p>@Html.ActionLink("Reservas", "Index", "Reservas")</p>
    </div>
</div>